
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 17px;
  border: none;
  border-radius: 0px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(30, 30, 30, 0.8); /* transparent black */
  color: #ffffff;
  border-radius: 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#custom-arch {
  padding: 0 5px;
  font-size: 20px;
  background-color: rgba(98, 114, 164, 0.6);
  background-color: transparent;
  color: #ffffff;
  color: #4897D7;
  margin-right: 4px;
}

#workspaces button {
  padding: 0 8px;
  margin: 0 2px;
  background-color: transparent;
  color: #bbbbbb;
}

#workspaces button.active {
  /*background-color: rgba(255, 255, 255, 0.1);*/
  color: #ffffff;
  border-top: 3px solid #A760B2;
}

#hyprland-window {
  padding: 0 10px;
  background-color: rgba(50, 50, 50, 0.4);
  border-bottom: 1px solid blue;
  color: #cccccc;
  margin-right: 4px;
}

#clock {
  background-color: rgba(100, 100, 100, 0.3);
  padding: 0 12px;
  color: #ffffff;
}

#custom-updates,
#pulseaudio,
#network,
#backlight,
#cpu,
#memory,
#disk,
#battery,
#custom-power {
  background-color: rgba(40, 40, 40, 0.4);
  margin: 0 2px;
  padding: 0 8px;
}

#custom-power {
  color: #e06c75;
}
