@import "colors.css";

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: @bg;
    color: @fg;
    border-bottom: 2px solid @bg-alt;
}

#workspaces button {
    padding: 0 5px;
    font-weight: 900;
    color: @fg-alt;
}

#workspaces button.active {
    color: @blue;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-logo {
    padding: 0 10px;
    color: @blue;
    font-size: 16px;
}

#custom-running-apps {
    background: @bg-alt;
    padding: 0 10px;
    margin: 4px;
    border-radius: 4px;
    color: @aqua;
}

/* Right Modules Styling */
#custom-update, #pulseaudio, #battery, #network, #custom-cpu, #custom-gpu, #memory, #disk, #clock, #custom-swaync, #custom-control-panel {
    padding: 0 10px;
    margin: 4px 2px;
    background-color: @bg-alt;
    border-radius: 4px;
    color: @fg;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-swaync {
    background: @green;
    color: @bg;
    margin-right: 10px;
    font-weight: 900;
}

#custom-control-panel {
    background: @green;
    color: @bg;
    margin-right: 10px;
    font-weight: 900;
}
